.order-book {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  
  .order-table {
    width: 48%;
  }
  .order-table:nth-child(1) {
    border: 1px solid #ddd;

  }
  .order-table:nth-child(2) {
    border: 1px solid #ddd;

  }

  
  .buy-table {
    background-color: #e6ffed;
  }
  
  .sell-table {
    background-color: #ffe6e6;
  }
  .order-table th, .order-table td {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }