<nav class="nav-buttons">
    <button [routerLink]="['/']" class="nav-button">Home</button>
    <button [routerLink]="['/buy-sell']" class="nav-button">Buy and Sell</button>
    <button [routerLink]="['/bai3']" class="nav-button">Bai 3</button>
    <button [routerLink]="['/bai2']" class="nav-button">Bai 2</button>
    <button [routerLink]="['/bai2vip']" class="nav-button">Bai 2 VIP</button>
    <button [routerLink]="['/bai3vip']" class="nav-button">Bai 3 VIP</button>
  </nav>
  <router-outlet></router-outlet>
  